POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=billingCore
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
ASAAS_API_URL=https://sandbox.asaas.com/api/v3
ASAAS_API_KEY=
RABBITMQ_AMQP_URL=amqp://project:project@rabbitmq:5672/
REDIS_ADDR=redis:6379